<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>ca.psiphon.Psiphon.psicash_1000</string>
	<string>ca.psiphon.Psiphon.psicash_4000</string>
	<string>ca.psiphon.Psiphon.psicash_10000</string>
	<string>ca.psiphon.Psiphon.psicash_30000</string>
	<string>ca.psiphon.Psiphon.psicash_100000</string>
</array>
</plist>
