<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Psiphon</string>
			<key>BundleTable</key>
			<string>PsiphonClientCommonLibrary</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Change Region</string>
			<key>BundleTable</key>
			<string>PsiphonClientCommonLibrary</string>
			<key>Key</key>
			<string>regionSelection</string>
			<key>Type</key>
			<string>IASKCustomViewSpecifier</string>
			<key>DefaultValue</key>
			<string></string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Language</string>
			<key>BundleTable</key>
			<string>PsiphonClientCommonLibrary</string>
			<key>Key</key>
			<string>appLanguage</string>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>DefaultValue</key>
			<string></string>
			<key>Values</key>
			<array>
				<string></string>
				<string>en</string>
				<string>fa</string>
				<string>ar</string>
				<string>zh-Hans</string>
				<string>zh-Hant</string>
				<string>am</string>
				<string>az</string>
				<string>be</string>
				<string>bo</string>
				<string>de</string>
				<string>el</string>
				<string>es</string>
				<string>fi</string>
				<string>fr</string>
				<string>hr</string>
				<string>id</string>
				<string>kk</string>
				<string>km</string>
				<string>ko</string>
				<string>ky</string>
				<string>my</string>
				<string>nb</string>
				<string>nl</string>
				<string>pt-BR</string>
				<string>pt-PT</string>
				<string>ru</string>
				<string>th</string>
				<string>tk</string>
				<string>tr</string>
				<string>uk</string>
				<string>uz</string>
				<string>vi</string>
			</array>
			<key>Titles</key>
			<array>
				<string>Default language</string>
				<string>English</string>
				<string>فارسی</string>
				<string>العربية</string>
				<string>简体中文</string>
				<string>繁体中文</string>
				<string>ኣማርኛ</string>
				<string>Azərbaycanca</string>
				<string>Беларуская</string>
				<string>བོད་ཡིག</string>
				<string>Deutsch</string>
				<string>Ελληνικά</string>
				<string>Español</string>
				<string>Suomi</string>
				<string>Français</string>
				<string>Hrvatski</string>
				<string>Bahasa Indonesia</string>
				<string>Қазақша</string>
				<string>ភាសាខ្មែរ</string>
				<string>한국어</string>
				<string>Кыргызча</string>
				<string>မြန်မာစာ</string>
				<string>Norsk bokmål</string>
				<string>Nederlands</string>
				<string>Português (Brasil)</string>
				<string>Português (Portugal)</string>
				<string>Русский</string>
				<string>ภาษาไทย</string>
				<string>Türkmençe</string>
				<string>Türkçe</string>
				<string>Українська</string>
				<string>O'zbekcha</string>
				<string>Tiếng Việt</string>
			</array>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<false/>
			<key>Key</key>
			<string>disableTimeouts</string>
			<key>Title</key>
			<string>Disable Timeouts</string>
			<key>BundleTable</key>
			<string>PsiphonClientCommonLibrary</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<false/>
			<key>Key</key>
			<string>useUpstreamProxy</string>
			<key>Title</key>
			<string>Use upstream proxy</string>
			<key>BundleTable</key>
			<string>PsiphonClientCommonLibrary</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>upstreamProxyHostAddress</string>
			<key>Title</key>
			<string>Host address</string>
			<key>BundleTable</key>
			<string>PsiphonClientCommonLibrary</string>
			<key>Type</key>
			<string>IASKCustomViewSpecifier</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>KeyboardType</key>
			<string>URL</string>
			<key>IASKPlaceholder</key>
			<string>example.com</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Port</string>
			<key>BundleTable</key>
			<string>PsiphonClientCommonLibrary</string>
			<key>Key</key>
			<string>upstreamProxyPort</string>
			<key>Type</key>
			<string>IASKCustomViewSpecifier</string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>IASKPlaceholder</key>
			<string>12345</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<false/>
			<key>Key</key>
			<string>useProxyAuthentication</string>
			<key>Title</key>
			<string>Use proxy authentication</string>
			<key>BundleTable</key>
			<string>PsiphonClientCommonLibrary</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>proxyUsername</string>
			<key>Title</key>
			<string>Proxy username</string>
			<key>BundleTable</key>
			<string>PsiphonClientCommonLibrary</string>
			<key>Type</key>
			<string>IASKCustomViewSpecifier</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>IASKPlaceholder</key>
			<string>username</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>IASKCustomViewSpecifier</string>
			<key>IsSecure</key>
			<true/>
			<key>Title</key>
			<string>Proxy password</string>
			<key>BundleTable</key>
			<string>PsiphonClientCommonLibrary</string>
			<key>Key</key>
			<string>proxyPassword</string>
			<key>IASKPlaceholder</key>
			<string>password</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>proxyDomain</string>
			<key>Title</key>
			<string>Proxy domain</string>
			<key>BundleTable</key>
			<string>PsiphonClientCommonLibrary</string>
			<key>Type</key>
			<string>IASKCustomViewSpecifier</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>IASKPlaceholder</key>
			<string>example.com</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Help</string>
			<key>BundleTable</key>
			<string>PsiphonClientCommonLibrary</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>ConnectionHelp</string>
			<key>Title</key>
			<string>My connection is bad, help!</string>
			<key>BundleTable</key>
			<string>PsiphonClientCommonLibrary</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Feedback</string>
			<key>BundleTable</key>
			<string>PsiphonClientCommonLibrary</string>
			<key>File</key>
			<string>Feedback</string>
			<key>Key</key>
			<string>feedback</string>
			<key>Type</key>
			<string>IASKCustomViewSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>FAQ</string>
			<key>BundleTable</key>
			<string>PsiphonClientCommonLibrary</string>
			<key>Type</key>
			<string>IASKCustomViewSpecifier</string>
			<key>Key</key>
			<string>faq</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Privacy Policy</string>
			<key>BundleTable</key>
			<string>PsiphonClientCommonLibrary</string>
			<key>Type</key>
			<string>IASKCustomViewSpecifier</string>
			<key>Key</key>
			<string>privacyPolicy</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Terms of Use</string>
			<key>BundleTable</key>
			<string>PsiphonClientCommonLibrary</string>
			<key>Type</key>
			<string>IASKCustomViewSpecifier</string>
			<key>Key</key>
			<string>termsOfUse</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>About</string>
			<key>BundleTable</key>
			<string>PsiphonClientCommonLibrary</string>
			<key>Type</key>
			<string>IASKCustomViewSpecifier</string>
			<key>Key</key>
			<string>about</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
