<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<!-- Untranslated -->
			<key>Title</key>
			<string>Psiphon</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>!!! Not in the Root.strings, this title is set from SettingVewController!!!</string>
			<key>Key</key>
			<string>settingsSubscription</string>
			<key>Type</key>
			<string>IASKCustomViewSpecifier</string>
			<key>DefaultValue</key>
			<string></string>
		</dict>
		<dict>
			<key>Title</key>
			<string>CHANGE_REGION</string>
			<key>BundleTable</key>
			<string>PsiphonClientCommonLibrary</string>
			<key>Key</key>
			<string>regionSelection</string>
			<key>Type</key>
			<string>IASKCustomViewSpecifier</string>
			<key>DefaultValue</key>
			<string></string>
		</dict>
		<dict>
			<key>Title</key>
			<string>SETTINGS_LANGUAGE</string>
			<key>BundleTable</key>
			<string>PsiphonClientCommonLibrary</string>
			<key>Key</key>
			<string>appLanguage</string>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>DefaultValue</key>
			<string></string>
			<key>Values</key>
			<array>
				<string></string>
				<string>en</string>
				<string>fa</string>
				<string>ar</string>
				<string>zh-Hans</string>
				<string>zh-Hant</string>
				<string>am</string>
				<string>az</string>
				<string>be</string>
				<string>bo</string>
				<string>de</string>
				<string>el</string>
				<string>es</string>
				<string>fi</string>
				<string>fr</string>
				<string>hr</string>
				<string>id</string>
				<string>kk</string>
				<string>km</string>
				<string>ko</string>
				<string>ky</string>
				<string>my</string>
				<string>nb</string>
				<string>nl</string>
				<string>pt-BR</string>
				<string>pt-PT</string>
				<string>ru</string>
				<string>th</string>
				<string>tk</string>
				<string>tr</string>
				<string>uk</string>
				<string>uz</string>
				<string>vi</string>
			</array>
			<key>Titles</key>
			<array>
				<dict>
					<key>Title</key>
					<string>DEFAULT_LANGUAGE</string>
					<key>BundleTable</key>
					<string>PsiphonClientCommonLibrary</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>English</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>فارسی</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>العربية</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>简体中文</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>繁体中文</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>ኣማርኛ</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Azərbaycanca</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Беларуская</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>བོད་ཡིག</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Deutsch</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Ελληνικά</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Español</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Suomi</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Français</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Hrvatski</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Bahasa Indonesia</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Қазақша</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>ភាសាខ្មែរ</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>한국어</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Кыргызча</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>မြန်မာစာ</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Norsk bokmål</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Nederlands</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Português (Brasil)</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Português (Portugal)</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Русский</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>ภาษาไทย</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Türkmençe</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Türkçe</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Українська</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>O'zbekcha</string>
				</dict>
				<dict>
					<key>Title</key>
					<string>Tiếng Việt</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<false/>
			<key>Key</key>
			<string>disableTimeouts</string>
			<key>Title</key>
			<string>DISABLE_TIMEOUTS</string>
			<key>BundleTable</key>
			<string>PsiphonClientCommonLibrary</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<false/>
			<key>Key</key>
			<string>useUpstreamProxy</string>
			<key>Title</key>
			<string>PSIPHON_SETTINGS_USE_UPSTREAM_LABEL</string>
			<key>BundleTable</key>
			<string>PsiphonClientCommonLibrary</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>upstreamProxyHostAddress</string>
			<key>Title</key>
			<string>PSIPHON_SETTINGS_UPSTREAM_HOST</string>
			<key>BundleTable</key>
			<string>PsiphonClientCommonLibrary</string>
			<key>Type</key>
			<string>IASKCustomViewSpecifier</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>KeyboardType</key>
			<string>URL</string>
			<key>IASKPlaceholder</key>
			<string>example.com</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>PSIPHON_SETTINGS_UPSTREAM_PORT</string>
			<key>BundleTable</key>
			<string>PsiphonClientCommonLibrary</string>
			<key>Key</key>
			<string>upstreamProxyPort</string>
			<key>Type</key>
			<string>IASKCustomViewSpecifier</string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>IASKPlaceholder</key>
			<string>12345</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<false/>
			<key>Key</key>
			<string>useProxyAuthentication</string>
			<key>Title</key>
			<string>PSIPHON_SETTINGS_UPSTREAM_USE_AUTH</string>
			<key>BundleTable</key>
			<string>PsiphonClientCommonLibrary</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>proxyUsername</string>
			<key>Title</key>
			<string>PSIPHON_SETTINGS_UPSTREAM_AUTH_USERNAME</string>
			<key>BundleTable</key>
			<string>PsiphonClientCommonLibrary</string>
			<key>Type</key>
			<string>IASKCustomViewSpecifier</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>IASKPlaceholder</key>
			<string>PSIPHON_SETTINGS_UPSTREAM_AUTH_USERNAME_PLACEHOLDER</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>IASKCustomViewSpecifier</string>
			<key>IsSecure</key>
			<true/>
			<key>Title</key>
			<string>PSIPHON_SETTINGS_UPSTREAM_AUTH_PASSWORD</string>
			<key>BundleTable</key>
			<string>PsiphonClientCommonLibrary</string>
			<key>Key</key>
			<string>proxyPassword</string>
			<key>IASKPlaceholder</key>
			<string>PSIPHON_SETTINGS_UPSTREAM_AUTH_PASSWORD_PLACEHOLDER</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>proxyDomain</string>
			<key>Title</key>
			<string>PSIPHON_SETTINGS_UPSTREAM_AUTH_DOMAIN</string>
			<key>BundleTable</key>
			<string>PsiphonClientCommonLibrary</string>
			<key>Type</key>
			<string>IASKCustomViewSpecifier</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>IASKPlaceholder</key>
			<string>EXAMPLE_HOSTNAME</string>
		</dict>
		<dict>
			<key>File</key>
			<string>CustomHeaders</string>
			<key>Key</key>
			<string>setUpstreamProxyCustomHeaders</string>
			<key>Title</key>
			<string>PSIPHON_CUSTOM_HEADERS_SUBSETTINGS_LABEL</string>
			<key>TitleDefault</key>
			<string>Custom HTTP headers</string>
			<key>TitleDescription</key>
			<string>Settings item text. Leads to settings specific to the custom headers.</string>
			<key>BundleTable</key>
			<string>PsiphonClientCommonLibrary</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>SETTINGS_HELP_SECTION</string>
			<key>BundleTable</key>
			<string>PsiphonClientCommonLibrary</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>ConnectionHelp</string>
			<key>BundleTable</key>
			<string>PsiphonClientCommonLibrary</string>
			<key>Title</key>
			<string>SETTINGS_BAD_CONNECTION_SUBSETTINGS_LABEL</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Feedback</string>
			<key>BundleTable</key>
			<string>PsiphonClientCommonLibrary</string>
			<key>Title</key>
			<string>SETTINGS_FEEDBACK_SUBSETTINGS_LABEL</string>
			<key>Key</key>
			<string>feedback</string>
			<key>Type</key>
			<string>IASKCustomViewSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>SETTINGS_FAQ</string>
			<key>BundleTable</key>
			<string>PsiphonClientCommonLibrary</string>
			<key>Type</key>
			<string>IASKCustomViewSpecifier</string>
			<key>Key</key>
			<string>faq</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>SETTINGS_PRIVACY_POLICY</string>
			<key>BundleTable</key>
			<string>PsiphonClientCommonLibrary</string>
			<key>Type</key>
			<string>IASKCustomViewSpecifier</string>
			<key>Key</key>
			<string>privacyPolicy</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>SETTINGS_TERMS_OF_USE</string>
			<key>BundleTable</key>
			<string>PsiphonClientCommonLibrary</string>
			<key>Type</key>
			<string>IASKCustomViewSpecifier</string>
			<key>Key</key>
			<string>termsOfUse</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>SETTINGS_ABOUT</string>
			<key>BundleTable</key>
			<string>PsiphonClientCommonLibrary</string>
			<key>Type</key>
			<string>IASKCustomViewSpecifier</string>
			<key>Key</key>
			<string>about</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
